@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #ffffff;
  /* --font-default: "Space Mono", system-ui; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-default); */
  /* font-weight: 400; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes turn-red {
  20%, 100% { transform: translate(0, 0); color: #8f0202; text-shadow: 0 0 10px rgba(143, 2, 2, 0.516); }
}

.turn-red {
  display: inline-block;
  animation: turn-red 5s 1 step-end forwards;
}

.glitch-slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #8f0202;
  pointer-events: none;
  animation: slice-glitch 5s infinite step-end;
}

@keyframes slice-glitch {
  0% { opacity: 0; transform: translateX(0); clip-path: inset(0 0 0 0); }
  
  20% { opacity: 1; transform: translateX(15px); clip-path: inset(40% 0 40% 0); }

  23% { opacity: 1; transform: translateX(-5px); clip-path: inset(40% 0 40% 0); }

  25% { opacity: 0; transform: translateX(0); }

  65% { opacity: 1; transform: translateX(-15px); clip-path: inset(55% 0 25% 0); }

  68% { opacity: 1; transform: translateX(5px); clip-path: inset(55% 0 25% 0); }

  70%, 100% { opacity: 0; transform: translateX(0); }
}